# This is Git's per-user configuration file.
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Gio
	email = sethg@ipi.org
[core]
	autocrlf = true
	sshCommand = ssh -i ~/.ssh/id_rsa
[ssh]
	key = ~/.ssh/id_rsa
[log]
    decorate = true
[alias]
    ltree = log --all --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) - %C(dim green)%<(12,trunc)(%ci)%C(reset) %C(white)%s%C(reset) %C(dim w\
hite)- %an%C(reset)%C(auto)%d%C(reset)'
[merge]
    conflictstyle = diff3
